:root {
    --main-color: #06c;
    --animation-speed: 1.25s;
    
}

nav {
    width: 100%;
    background: transparent;
    position: absolute;
}

header{
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 999;
    background-color: clear;   
    padding: 30px 50px;
    
    display:  flex;
    align-items: center;
    
    -webkit-transition: background-color 0.35s ease-in-out;
    -moz-transition: background-color 0.35s ease-in-out;
    -ms-transition: background-color 0.35s ease-in-out;
    -o-transition: background-color 0.35s ease-in-out;
    transition: background-color 0.35s ease-in-out;
}

header #left-nav{
    float:left;
    position: fixed;
}

#logo-container{
    z-index: 1000;
    width: 100%;
    top: calc(50vh - 75px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#logo-container.scroll{
    top: 12px;
    position:fixed;
}

#logo{
    padding: 0;
    height:150px;
    width: auto;
    
    -webkit-transition: height 0.5s ease-in-out;
    -moz-transition: height 0.5s ease-in-out;
    -ms-transition: height 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;

}

#logo.scroll{
    height: 75px;
    width: auto;
    
    -webkit-transition: height .5s ease-in-out;
    -moz-transition: height .5s ease-in-out;
    -ms-transition: height .5s ease-in-out;
    -o-transition: height .5s ease-in-out;
    transition: height .5s ease-in-out;
}

header #right-nav{
    float:right;
    position: fixed;
    right: 50px;
}

.icons{
    width: 35px;
}

header #center{
    position:fixed;
    top: 50vh;
    left: 50vh;
}

body {
    height: 100vh;
    background: #fcfcfc;
}

#intro {
    display: flex;
    align-content: center;
    justify-content: center;
}

#hero {
    height: 100vh;
    width: 100%;
    padding: 30px 30px;
}

#hero-container{
    height: 100%;
    width: 100%;
    background: lightgrey;    
}

#catagories{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#cat-container{
    width: 100%;
    max-width: 1500px;
    height: 500px;
    padding: 0px 30px;
    margin-top: 50px;
}

.catagory{
    height: 100%;
}

.cat-left{
    height: 100%;
    display: flex;
}

.cat-right{
    height: 100%;
    display: flex;
}

.img-container{
    position: relative;
    width: 65%;
    height: 100%;
    overflow: hidden;
}

@keyframes slideright {
    0%{
        transform: translate3d(-100%,0,0);
        
    }
    15% {
        transform: translate3d(-100%,0,0);
        animation-timing-function: ease-out
    }
    50% {
        transform: translate3d(0%,0,0);
        animation-timing-function: ease-in;
    }
    65% {
        transform: translate3d(25%,0,0);
        animation-timing-function: ease-out;
    }
    100%{
        transform: translate3d(100%,0,0);
        display: none;
    }
}

@keyframes slideleft {
    0%{
        transform: translate3d(100%,0,0);
        
    }
    15% {
        transform: translate3d(100%,0,0);
        animation-timing-function: ease-out
    }
    50% {
        transform: translate3d(0%,0,0);
        animation-timing-function: ease-in;
    }
    65% {
        transform: translate3d(-75%,0,0);
        animation-timing-function: ease-out;
    }
    100%{
        transform: translate3d(-100%,0,0);
        display: none;
    }
}

.slide-left{
    bottom: 0%;
    position: absolute;
    width: 100%;
    height: 100%;;
    background: darkseagreen;
}

.slide-left.animate{
    animation-name: slideleft;
    animation-duration: var(--animation-speed);
    animation-fill-mode: forwards;
}

.cover{
    height: 100%;
    width: 100%;
    object-fit: cover;    
}

.cover.animate{
    animation-name: slideimg;
    animation-duration: var(--animation-speed);
}

.slide-right{
    bottom: 0%;
    position: absolute;
    width: 100%;
    height: 100%;;
    background: darkseagreen;
}

.slide-right.animate{
    animation-name: slideright;
    animation-duration: var(--animation-speed);
    animation-fill-mode: forwards;
}

.text-container{
    width: 35%;
    padding: 50px;
    background: darkseagreen;
}
.text-container .btn{
    margin-top: 0px;
}

@keyframes slideimg{
    0% {
       opacity: 0;
    }
    49%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}

#footer{
    height: 50px;    
    background-color: gray;
}

